html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

 .clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; } 

/* general styles */

.wrapper {
  margin: 0 auto;
  max-width: 1160px;
  width: 90%;
}

html {
  font-size: 62.5%;
  background: #CAD2C5;
}

h1 {
  font-family: 'Special Elite', cursive;
  font-size: 34px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

i {
  font-size: 20px;
}

i:hover {
  color: #32102F
}

textarea {
  resize: none;
  border: 2px solid #B8AC73;
  font-family: 'Special Elite', cursive;
  font-size: 18px;
}

/* landing age styles */
.landingPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 2rem;
  height: 90vh;
}

.epilogue {
  height: 80vh;
  width: 60vh;
  background: url('./assets/Book.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 10rem 5rem;
}

.epilogue p {
  font-style: italic;
}

.note {
  max-width: 350px;
  padding: 1rem 2rem;
  background-color: #D4C685;
  transform: rotate(-15deg);
  z-index: -1;
  border: 1px solid rgb(44, 41, 27);
}

.nextPage,
.prevPage {
  display: flex;
}

  .nextPage {
  flex-direction: row-reverse;
}

.nextPage a,
.prevPage a,
button.submit{
  font-family: Special Elite;
  font-size: 20px;
  padding: 1rem;
  color: #32102F;
  border: 2px solid #32102F;
  transition: .5s ease-in-out;
  background-color: transparent;
}

.nextPage a:hover,
.prevPage a:hover,
button.submit:hover {
  color: #E5E5E5;
  background-color: #32102F;
}

/* books component */
.displayBooks,
.singleBook {
  height: 80vh;
  margin: 5rem 0;
  background-image: url(./assets/page.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Special Elite', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.displayBooks h2,
.singleBook h2{
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.post h2 {
  text-align: left;
  max-width: 300px;
}

.displayBooks a {
  color: #000;
}

.displayBooks form input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  background-color: #D4C685;
  margin: 1rem 0;
  padding: 2rem;
  font-family: 'Special Elite', cursive;
  font-size: 18px;
}

.books{
  padding: 1rem;
  margin: 1rem 0;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #32102F;
}

.books p {
  width: 70%;
  /* if user enters long name */
  overflow-y: scroll;
}

.singleBook form textarea,
.singlePost p {
  width: 300px;
  height: AUTO;
}

.singleBook form textarea {
  border-color: #32102F;
  border-radius: 10px;
  background-color: #D4C685;
  margin: 1rem 0;
  padding: 1rem;
  font-family: 'Special Elite', cursive;
  font-size: 18px;
  overflow-y: scroll;
}

/* solving display issue */
.singlePost,
.allBooks {
  max-height: 400px;
  overflow-y: scroll;
}

.singlePost p{
  background-color: #B8AC73;
  padding: 1rem;
  overflow-y: scroll;
}

/* action buttons */

button.delete,
button.update,
button.modify {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.submit {
  cursor: pointer;
  align-self: center;
  margin-left: 100px;
}

/* media */

@media (max-width:980px) {
  .landingPage {
    position: relative;
  }

  .note {
    position: absolute;
    z-index: 1;
    top: 40%;
    transform: scale(.8) rotate(-15deg);
  }
}

@media (max-width:736px) {

}

@media (max-width:480px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .landingPage {
    flex-direction: column;
  }

  .epilogue {
    background-position: center;
  }
  .note {
    position: static;
    z-index: -1;
  }
}